/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --bg-header: #ff6900;
    --primary-color: #ffffff;
    --sales-color: #ff0000;
    --sostenibilty: #008000;
    --bg-footer: #1a1a1a;

}
main{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
ul{
    list-style:none;
}
li{
    padding: 0 10px;
}
/* Header */
header{
    background-color: var(--bg-header);
    color: var(--primary-color);
    padding: 10px 0;
}
.section-logo img{
    max-width: 150px;
}
/* Main */

.card img{
    max-width: 400px;
    padding: 0 10px;
}
.card{
    position: relative;
    font-size: .9rem;
    font-weight: 700;
}
.sales{
    color: var(--primary-color);
    padding: 4px 10px;
    position: absolute;
}
.red{
    background-color: var(--sales-color);
    bottom: 40px;
    left: 10px;
}
.green-red{
    background-color: var(--sostenibilty);
}
.green{
    background-color: var(--sostenibilty);
    bottom: 40px;
    left: 70px;
}


/* Footer */
footer{
    background-color: var(--bg-footer);
    color: var(--primary-color);
}
